/* https://codepen.io/therist/pen/wjrxxL?editors=1100 */

.tab-panel{
  position: relative;
}

.tab-panel > label {
  position: absolute;
  z-index: 1;
}
.tab-panel > label,
.tab-panel > h3 {
  font-size: 1em;
  width: 9em;
  height: 2em;
  line-height: 2em;
}

.tab-panel > h3{
  position: relative;
  margin: 0;
  text-align: center;
  background: #999;
  color: #fff;
}

.tab-panel input,
.tab-panel > label ~ label,
.tab-panel > h3 ~ h3{
  position: absolute;
  top: 0;
}


.tab-panel label:nth-child(1),
.tab-panel h2:nth-child(3) {
  left: 0em;
}

.tab-panel label:nth-child(5),
.tab-panel h2:nth-child(7) {
  left: 9em;
}

.tab-panel label:nth-child(9),
.tab-panel h2:nth-child(11) {
  left: 18em;
}

.tab-panel label:nth-child(13),
.tab-panel h2:nth-child(15) {
  left: 0em;
}

.tab-panel input + h2 + div {
  position: absolute !important;
  clip: rect(1px, 1px, 1px, 1px);
  padding:0 !important;
  border:0 !important;
  height: 1px !important; 
  width: 1px !important; 
  overflow: hidden;
}

.tab-panel input:checked + h2 + div {
  position: static !important;
  padding: 1em !important;
  height: auto !important; 
  width: auto !important; 
}

.tab-panel label:hover {
  cursor: pointer;
}

.tab-panel > div {
  background: #f0f0f0;
  padding: 1em;
}

.tab-panel input[name="tabs"] {
  opacity: 0;
  position: absolute;
}


.tab-panel input[name="tabs"]:focus + h2 {
  outline: 1px dotted #000;
  outline-offset: 10px;
}


.tab-panel:hover h2 {
  outline: none !important;
}

.tab-panel input[name="tabs"]:checked + h2 {
  background: #333;
}
