<!DOCTYPE html>
<html>
<head>
	<title></title>
	<meta charset=utf-8>
	<meta name=description content="">
	<meta name=viewport content="width=device-width, initial-scale=1">
	<script defer src="https://use.fontawesome.com/releases/v5.0.13/js/all.js" integrity="sha384-xymdQtn1n3lH2wcu0qhcdaOpQwyoarkgLVxC/wZ5q7h9gHtxICrpcaSUfygqZGOe" crossorigin="anonymous"></script>
	<style type="text/css">
		body{
			padding: 100px;
		}
		div{
			border: 1px solid grey;
		}
		.card{
			position: relative;
			display: flex;
			justify-content: space-between;
		}
		.card-image{
			flex: 1 1 20%;
		}
		.card-body{
			flex: 2 1 80%;
		}
		.card-actions{
			flex: 1 1 40%;
		}
		.card-footer{
			position: absolute;
			left: 10px;
			right: 10px;
			top: 100%;
		}
	</style>
</head>
<body>

	<div class="card">
	<div class="card-image">
	<img src="https://secureimg.stitcher.com/customfeedimages/480x270_11394.jpg" alt="" />
	</div>
	<div class="card-body">
		<h3>Evolution, Accelerated (Rebroadcast)</h3><a href="https://www.stitcher.com/podcast/wnyc/freakonomics-radio/e/54330578" target="_blank">Freakonomics Radio</a>
	</div>
	<div class="card-actions">
		<i class="fas fa-camera-retro"></i>
	</div>
	<div class="card-footer">
		<h3>Evolution, Accelerated (Rebroadcast)</h3><a href="https://www.stitcher.com/podcast/wnyc/freakonomics-radio/e/54330578" target="_blank">Freakonomics Radio</a>
	</div>
	</div>


</body>
</html>